/*  your css code here. If applicable */
#yel{
	background-color:yellow;
	border:1px solid green;
}
#re{
	background-color:red;
	border:1px solid black	
}

#gre{
	background-color:green;
		
	Border:1px solid yellow;
	
}