/*  your css code here. If applicable */
#yel{
	background-color:yellow;
	Border-width:1px;
	Border-color:green;
	
}
#re{
	background-color:red;
		Border-width:1px;
	Border-color:black;
	
}

#gre{
	background-color:green;
		Border-width:1px;
	Border-color:yellow;
	
}